*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

// estilos al body (se aplica en todas las vistas)
body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    font-style: normal;
    padding: 4.375em 0px 0px 0px;
}