// estilos a la seccion contacto

.main-contacto{
    display: flex;
    background-image: url(contacto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height:500px;
    width: 100%;
    margin-top:0px ;

    .main-div-titulo{
        display: flex;
        flex-direction: column;
        position: relative;
        top: -50px;
        width: 450px;
        height: 250px;
        margin-left: 100px;
        color: $textsec;
        padding: 10px;

        h1{
            font-family: 'Roboto', sans-serif;
            padding: 5px 0px;
            font-weight: bold;
        }

        p{
            padding: 20px 0px;
            margin-bottom: 20px;
        }

        a{
            background-color:$bgvioletao;
            color: $textsec;
            padding: 15px;
            font-weight: 500;
            font-size: 1.125rem;
            border-radius: 20px;
        }

        a:link{
            text-decoration:none;
        }

        a:visited{
            text-decoration:none;
        }

        a:active{
            text-decoration:none;
        }
    }
}
.aside-contacto{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: $bgvioletao;
    color: $textsec;
    align-items: center;
    opacity: 0.8;

    i{
        position: relative;
        top: -0.2em;
        font-size: 1.875rem;
        padding:0px 0.4em;
    
    }

    h2{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: $h2;
        padding: 50px 0px ;
        margin:0 ;
    }

    .aside-contacto-div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .h3-aside-contacto{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: $psecundario;
        position: relative;
        display: inline-flex;
        left: 50px;
        top: -55px;
        margin: 0;
        width: 200px;
    }

    .parrafo{
        position: relative;
        left: 55px;
        top: -45px;
        width: 300px;

    }
    
}

// Estilos al formulario de contacto

.formulario-contacto{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 600px;
    height: 700px;
    background-color:$textsec;
    margin-top: 200px ;
    margin-left: 30%;
    border-radius: 20px;
    padding: 0px 2em;
    box-shadow: 0px 0px 10px 1px  #333333;

    .formulario{
        display: flex;
        flex-direction: column;
        
        legend{
            text-align: center;
            margin: 30px 0px;
            font-size: $h2;
            font-weight: 600;
        }

        .form-nombre{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            width: 90%;
            font-weight: 600;

            input {
                border-radius: 5px;
                border: 2px solid $bgprimario;
                width: 100%;
                padding: 10px;
            }
        }

        .form-email{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            width: 90%;
            font-weight: 600;

            input{
                border-radius: 5px;
                border: 2px solid $bgprimario;
                width: 100%;
                padding: 10px;
            }
        }

        .form-mensaje{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            width: 90%;
            font-weight: 600;
            width: auto;
	        height: auto;
	        padding-bottom: 5px; 
            
            textarea{
                border: none;
                outline: none;
                resize: none;
            }

            .txt-mensaje{
                margin-top: 5px;
                width: auto;
                height: auto;
                border: 2px solid $bgprimario;
                border-radius: 2px;
                font-size: $psecundario;
            }
        }
        .enviar{
            
            input{
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            input{
                padding: 15px;
                font-size: 1.125rem;
                background-color: $bgprimario;
                color: $textsec;
                border-radius: 20px;
                font-weight: 500;
                
            }

            input:hover{
                transform: scale(1.1,1.1);
                transition: 0.3s;
            }
        }
    }
}


@media only screen and (max-width: 1120px){
    .main-contacto{
        .main-div-titulo{
            background-color:rgba(23, 23, 23,0.3);
            border-radius: 20px;
        }
    }

    .formulario-contacto{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 980px){
    .main-contacto{
        flex-direction: column;
        background-image: none;
        margin-top: 100px;
        margin-bottom: 300px;

        .main-div-titulo{
            background-color:transparent;
            margin-left: 0;
            text-align: center;
        }

        .aside-contacto{
            width: 50%;
            border-radius: 20px;
            width: none;
            height: none;
        }
    }
    .formulario-contacto{
        margin-left: 24%;
        width: 400px;

    }
}

@media only screen and (max-width: 735px){
    .main-contacto{
        .aside-contacto{
            width: 350px;
            height: 600px;
        }
    }
    
    
    .formulario-contacto{
        margin-left:10%;
        width: 300px;
        height: 700px;
    }
}
