// estilos a Faqs
.main-faqs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .tamanio{
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;

        .container-accordion{
            .accordion{
                .accordion-item{
                    background-color: #f8ceec;
                    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
                    button{
                        color: white;
                        font-weight: bold;
                        background-color:$bgprimario;
                    }
                }
            }
        }
    }

    .h1-faqs{
        padding: 1rem;
        background-color: $bgtitles;
        margin-top: 2rem;
        border-radius: 10px;
        font-size: $h1;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    }
}
@media only screen and (max-width: 414px){
    .main-faqs{
        .h1-faqs{
            font-size: 1.5rem ;
            text-align: center;
        }
    }
}