// estilos a Faqs
.main-faqs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .tamanio{
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .h1-faqs{
        padding: 1rem;
        background-color: $bgtitles;
        margin-top: 2rem;
        border-radius: 20px;
        font-size: $h1;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }
}
@media only screen and (max-width: 375px){
    .main-faqs{
        .tamanio{
            margin-left: 10%;
        }
    }
}