// estilos al main del index.

main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-div-texto{
        display: flex;
        flex-direction: column;
        width: 31.25em;
        margin-left:3.125em;
        margin-bottom:3.125em;

        h1{
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
        }

        .main-div-p{
            font-size: $pprimario;
            line-height: 1.563em;
            font-weight: 500;
        }

        .main-div-iconos{
            display: flex;
            height: 4.375em;
            width: 15.625em;
            background-color: #140021;
            border-radius: 1.25em;
            margin-top: 2.188em;
            justify-content: space-around;
            align-items: center;
        }

        a{
            color: white;
            font-size: $redes;
            text-align:center;
        }

        a:hover{
            transform: scale(1.2,1.2);
            transition: 0.3;
        }
    }
}

// estilos a servicios (corregir servicios x paquetes)
.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .h2-servicios{
        position: relative;
        top: 5.5em;
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.7em;
        background-color: $bgtitles;
        border-radius: 10px;
        z-index: 100;
    }

    .wave-top{
        position: relative;
        top: 2px;
        z-index: 0;
    }
    .wave-bot{
        position: relative;
        top: -2px;
    }

    .boxes{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom:0px;
        padding:2em 0em;
        background-color: $bgprimario;
        
    
        .box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            @include sizeBoxIndex(280px,500px);
            background: rgba( 255, 255, 255, 0.65 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4.5px );
            -webkit-backdrop-filter: blur( 4.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            color: $bgblack;


            .h3-box{
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: bold;
                position: relative;
                top: 50px;
            }

            .p-box{
                font-size: $psecundario;
                padding:10px 30px ;
                margin-top: 30px;
            }

            .precio{
                display: flex;
                position: relative;
                top: -20px;
                padding-left: 50px;
            }

            i{
                font-size: 2.188rem;
                margin-right: 10px;
            }

            .h3-precio{
                position: relative;
                padding-right: 15px;
                font-size: 1.563rem;
            }

            .texto-precio{
                line-height: 20px;
                font-size: 0.813rem;
            }

            .boton{
                align-self: center;
                position: relative;
                top: -25px;
                width: 170px;
                padding: 10px;
                border-radius: 20px;
                color:$bgblack ;
                font-weight: bolder;
                border: solid 1px rgba(0, 0, 0, 0.1) ;
                box-shadow:0px 9px 23px 1px rgba(0, 0, 0, 0.1);
            }

            .boton:hover{
                background-color:$bgprimario ;
                color: $textsec;
                transform:scale(1.1, 1.1);
                transition: 0.3s ;
                box-shadow:0px 9px 23px 8px rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }

            .beneficios{
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 10px;
                top: -40px;

                i{
                    position: relative;
                    top: 4px;
                    padding-right: 2px;
                    font-size: 0.938rem;
                    color:#00fc2a;
                }

                .beneficio{
                    display: flex;
                    flex-direction: row;
                    margin-top: 1.5em;
                }
            }
        }
        .box:hover{
            border:2px solid rgba( 255, 255, 255, 0.18 );
            transform:scale(1.1, 1.1);
            transition: 0.3s;
        }
    }
}


@media only screen and (max-width: 1190px){
    .main-index{
        flex-direction: column;

        .main-div-texto{
            align-items: center;
            text-align: center;
            margin-top: 3em;
            width: 65%;

            h1{
                margin-bottom: 0.5em;
            }
        }

        picture{
            img{
                display: none;
            }
        }
    }


}


@media only screen and (max-width: 900px){
    
    .main-index{
        flex-direction: column-reverse;

        .main-div-texto{
            text-align: center;
            margin-left: 0px;
            width: 80%;

            h1{
                font-size: $h1;
            }

            p{
                font-size: 1.2rem;
                line-height: normal;
            }

        }
        picture{

            img{
                width: 400px;
                display: none;
            }
        }
    }
    
    .servicios{

        .h2-servicios{
            top: 4em;
        }

        .boxes{
            flex-direction: column;
            margin-left:0;
            align-items: center;

            .box{
                margin-bottom: 3em;
                margin-right: 0;
            }
        }
    }
}