// estilos a sobre nosotros
// estilos al main de sobre nosotros

.main-sobre-nosotros{
    display: flex;
    flex-direction: column;

    .main-div-title{
        position: relative;
        background-color: $bgtitles;
        border-radius: 10px;
        top: 2.5em;
        z-index: 1;

        h1{
            padding: 13px;
            text-transform: uppercase;
            font-style: italic;
            font-weight: 600;
        }
    }

    .color-main{
        display: flex;  
        position: relative;
        background-image: url(dragon-scales.svg);


        
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .grid-container{
            display: grid;
            width: 70%;
            height: 50%;
            padding:80px 0px ;
            grid-template-rows: 1fr 1fr ;
            grid-template-columns: 1fr 1fr 1fr ;
            justify-items: center;
            align-items: center;
            grid-row-gap: 40px 
        }

        .div{
            display: flex;
            @include sizeBoxSn(230px,255px);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $textsec;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 3px );
            -webkit-backdrop-filter: blur( 8.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );

            p{
                font-size:$psecundario;
                font-weight: bold;
                padding: 10px 15px;
                text-align: center;
            
            }

            img{
                padding: 5px;
            }
        }

        .servicioTecnico{
            img{
                margin-top: 1em;
            }
        }

        .div:hover{
            box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.67);
            transform:scale(1.1, 1.1);
            transition: 0.5s;
        }
    }
}


// estilos a seccion de imagenes de sobre nosotros
.imagenes-sucursales{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;


    .h2-image{
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.7em;
        background-color: $bgtitles;
        border-radius: 10px;
        margin-bottom: 0.5em;
    }

    .maxwd{
        margin:auto;
        max-width: 650px;
        text-align: center;
    }
}

@media only screen and (max-width: 1040px){
    .main-sobre-nosotros{
        .color-main{
            .grid-container{
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
            }
        }
    }   
}

@media only screen and (max-width: 740px){
    .main-sobre-nosotros{
        .color-main{
            .grid-container{
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
            }
        }
    }  
}