// colores
$bgprimario:#560090;
$bgsobrenos:#2B1B45;
$bgtitles:#866EAD;
$bgvioletao:#140021;
$textsec:white;

// Tamaños de texto

$h1: 2em;
$h2: 1.5em;
$redes:2.5em;
$pprimario:1.375em;
$psecundario:1em;


// 