// colores
$bgprimario:#560090;
$bgsobrenos:#2B1B45;
$bgtitles:#866EAD;
$bgvioletao:#140021;
$textsec:white;
$bgblack:black;

// Tamaños de texto

$h1: 2rem;
$h2: 1.5rem;
$redes:2.5rem;
$pprimario:1.375rem;
$psecundario:1rem;


// mixins
@mixin sizeBoxIndex($width, $height) {
    height: $height;
    width: $width;
}

@mixin sizeBoxSn($width, $height) {
    height: $height;
    width: $width;
}

@mixin imgOfi($width, $height) {
    height: $height;
    width: $width;
}